@import 'base.scss';
@import 'animations.scss';

.container {
    //border: 1px solid red;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .initialScreen {
        position: relative;

        h1 {
            margin-bottom: 0.1em;
            font-size: 3em;
        }
    
        h3 {
            margin-bottom: 1.5em;
        }
    
        .form {
            display: inline-block;
    
            #cepInput {
                -moz-appearance: textfield;
                outline: none;
                padding: 0.2em;
            }
    
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            
            button {
                display: block;
                margin: 0 auto;
                margin-top: 2em;
                padding: 0.5em;
            }

            .toast {
                color: red;
                display: block;
                margin-top: 1em;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: 300ms;

                &.visible {
                    opacity: 1;
                    animation: flashing infinite 200ms ease 200ms;
                }
            }
        }
    }

    .searchingScreen {
        display: none;

        h3 {
            transform: translateY(3em);
        }

        img {
            width: 16em;
        }
    }
}
