@import 'base.scss';
@import 'animations.scss';
@import 'breakpoints.scss';

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .initialScreen {
        position: relative;
        text-align: center;

        div {
            display: flex;
            align-items: center;
            position: relative;

            h1 {
                margin-bottom: 0.1em;
                font-size: 3em;

                @include devices (tablet) {
                    font-size: 2.6em;
                }
            }

            img {
                margin-left: 0.5em;
                width: 2.5em;
                height: 2.5em;
                
                // =========================
                @include devices (iPadAir) {
                    position: absolute;
                    top: 60%;
                    right: 100px;
                }
                @include devices (tablet) {
                    top: 20%;
                    right: -13%;
                }
                @include devices (mobileL) {
                    top: 59%;
                    right: -5%;
                    width: 2.2em;
                    height: 2.2em;
                }
                @include devices (mobileM) {
                    right: -6%;
                } 
            }
        }
    
        h3 {
            margin-bottom: 1.5em;
        }
    
        .form {
            display: inline-block;
    
            #cepInput {
                -moz-appearance: textfield;
                outline: none;
                padding: 0.2em;
                font-family: 'Poppins', sans-serif;
                font-size: 1em;
                width: 6em;
                text-align: center;
            }
    
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            
            button {
                display: block;
                margin: 0 auto;
                margin-top: 2em;
                padding: 0.4em;
                font-family: 'Poppins', sans-serif;
                font-size: 0.9em;
                cursor: pointer;
            }

            .toast {
                color: red;
                display: block;
                margin-top: 1em;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: 300ms;

                &.visible {
                    opacity: 1;
                    animation: flashing infinite 200ms ease 200ms;
                }
            }
        }
    }

    .resultScreen {
        display: none;

        button {
            display: block;
            margin: 0 auto;
            padding: 0.5em;
            margin-top: 2em;
            font-family: 'Poppins', sans-serif;
            font-size: 0.9em;
            cursor: pointer;
        }
    }

    .searchingScreen {
        display: none;

        h3 {
            transform: translateY(3em);
        }

        img {
            width: 16em;
        }
    }

    .errorScreen {
        display: none;

        img {
            width: 10em;
            margin: 1em 0;
            border-radius: 20%;
        }

        button {
            display: block;
            margin: 0 auto;
            padding: 0.5em;
            font-family: 'Poppins', sans-serif;
            font-size: 0.9em;
            cursor: pointer;
        }
    }
}
